<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <meta charset="UTF-8">
    <title>Full Stack Mean Software</title>
    <link rel="stylesheet" href="estilos.css">
</head>

<body>
    <header id="header-top">
        <h1>Full Stack Mean Software</h1>
    </header>
    <section id="zona_cliente">
        <div id="reservar" ng-init="doble=true;">
            <form>
                <div class="row-form">
                    <label>Nombre: </label>
                    <input type="text" ng-model="nombre">
                </div>
                <div class="row-form">
                    <label>Apellidos: </label>
                    <input type="text" ng-model="apellidos">
                </div>
                <div class="row-form">
                    <label>Email: </label>
                    <input type="email" ng-model="email">
                </div>
                <div class="row-form">
                    <label>Fecha Inicio: </label>
                    <input type="date" ng-model="fecha_inicio">
                </div>
                <div class="row-form">
                    <label>Fecha Fin: </label>
                    <input type="date" ng-model="fecha_fin">
                </div>
                <div class="row-form">
                    <input type="checkbox" ng-model="doble"> Doble
                </div>
                <div class="row-form">
                    <input type="submit" value="Reservar">
                </div>
            </form>
        </div>
        <div id="calendario_cliente" class="calendario" ng-init="diasSemana = ['Lunes', 'Martes','Miércoles','Jueves','Viernes','Sábado','Domingo']">

            <div class="calendario-dia-semana" ng-repeat="dia in diasSemana" ng-class="{'ultimo_campo':$last}">{{dia}}</div>

            <div class="calendario-dia" ng-repeat="n in [] | range:31">
                <span>01</span>
                <div class="calendario-tipohab"><label>Dobles:</label> 1</div>
                <div class="calendario-tipohab"><label>Triples:</label> 2</div>
            </div>

            <div class="calendario-dia ultimo_campo ultima_fila"></div>

        </div>
    </section>

    <div class="limpiador"></div>
    <div class="separador"></div>

    <section id="zona_admin">
        <header>
            <span id="logado"></span>
        </header>
        <div id="login">
            <form>
                <div class="row-form">
                    <label>Usuario: </label>
                    <input type="text" ng-model="usuario">
                </div>
                <div class="row-form">
                    <label>Contraseña: </label>
                    <input type="password" ng-model="pass">
                </div>
                <div class="row-form">
                    <input type="submit" value="Enviar">
                </div>
            </form>

        </div>
        <div id="calendario_admin" class="calendario">

            <div class="calendario-dia-semana">Lunes</div>
            <div class="calendario-dia-semana">Martes</div>
            <div class="calendario-dia-semana">Miércoles</div>
            <div class="calendario-dia-semana">Jueves</div>
            <div class="calendario-dia-semana">Viernes</div>
            <div class="calendario-dia-semana">Sábado</div>
            <div class="calendario-dia-semana ultimo_campo">Domingo</div>

            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia ultimo_campo"></div>

            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia ultimo_campo"></div>

            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia ultimo_campo"></div>

            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia"></div>
            <div class="calendario-dia ultimo_campo"></div>

            <div class="calendario-dia ultima_fila"></div>
            <div class="calendario-dia ultima_fila"></div>
            <div class="calendario-dia ultima_fila"></div>
            <div class="calendario-dia ultima_fila"></div>
            <div class="calendario-dia ultima_fila"></div>
            <div class="calendario-dia ultima_fila"></div>
            <div class="calendario-dia ultimo_campo ultima_fila"></div>

        </div>
    </section>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</body>



</html>