<!--<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>-->

<div class="mi-navbar navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Node Hoteles">
                    </a>
                </div>
                <div id="navbar3" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Admin</a></li>
                        <!--<li><a href="#">Contact</a></li>-->
                        <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>-->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>


<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <!--1263x500-->
            <img class="first-slide" src="assets/images/foto1.jpg" alt="Un lugar de ensueño">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Un lugar de ensueño</h1>
                    <p>La mejor estancia para disfrutar ese momento tan especial con los tuyos. Déjate seducir por el verdadero bienestar.</p>
                </div>
            </div>
        </div>
        <!--<div class="item">
            <img class="second-slide" src="assets/images/foto2.jpg" alt="El descanso perfecto">
            <div class="container">
                <div class="carousel-caption">
                    <h1>El descanso perfecto</h1>
                    <p>Cóncedete el mejor descanso en nuestro espectacular resort. Somos especialistas en construir vacaciones únicas. ¡Déjanos mimarte!</p>
                </div>
            </div>
        </div>-->
        <div class="item">
            <img class="third-slide" src="assets/images/foto3.jpg" alt="Diversión completa">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Diversión completa</h1>
                    <p>Ocio para grandes y pequeños, para aquellos que en su tiempo libre quiere explotarlo al máximo. Amplia oferta de actividades centradas en tu persona.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="assets/images/foto4.jpg" alt="Noches mágicas">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Noches mágicas</h1>
                    <p>Porque ciertos momentos se viven bajo un manto de estrellas. Chill-out con espectaculares vistas de la ciudad. Bébete las mejores sensaciones de la noche.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="assets/images/foto6.jpg" alt="Con calma">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Con calma</h1>
                    <p>Porque el cuerpo necesita también su descanso. Bañeras de hidromasajes, baños turcos, zona de contrastes y mucho más por descubir en nuestro recien estrenado spa.</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">




    <!-- START THE FEATURETTES -->




    <div class="row featurette">
        <!--<div class="col-md-12">

        </div>-->
        <div class="col-md-5">

            <form class="form-horizontal" role="form">

                <header>
                    <h1>Reserva con nosotros</h1>
                </header>


                <div class="form-group">
                    <label class="col-sm-12 control-label" for="nombre">Nombre y Apellidos</label>
                    <div class="col-sm-12">
                        <input id="nombre" class="form-control" type="text" placeholder="Nombre Apellido1 Apellido2" [(ngModel)]="customer.name" [ngModelOptions]="{standalone:true}" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-12 control-label" for="email">Correo electrónico</label>
                    <div class="col-sm-12">
                        <input id="email" class="form-control" type="email" placeholder="correo@dominio.com" [(ngModel)]="customer.email" [ngModelOptions]="{standalone:true}" />
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-6 control-label" for="fecha_inicio">Fecha</label>
                    <label class="col-sm-6 control-label hidden-xs " for="fecha_fin">Tipo de habitación</label>
                    <div class="col-sm-6">
                        <div class="input-group date">
                            <!--<input class="form-control" id="fecha_inicio" placeholder="dd/mm/yyyy" [(ngModel)]="modelito" [ngModelOptions]="{standalone:true}" />-->
                            <material-datepicker [(date)]="fecha" [rangeStart]="rangeDate"></material-datepicker>
                            <!--<span class="input-group-addon">
						        <span class="glyphicon glyphicon-calendar"></span>
                            </span>-->
                        </div>
                    </div>

                    <label class="col-sm-6 control-label hidden-sm hidden-md hidden-lg mt-15" for="tipo_habitacion">Tipo de habitación</label>
                    <div class="col-sm-6">
                        <select id="hotel" class="form-control" [(ngModel)]="booking.isDouble" [ngModelOptions]="{standalone:true}">
                            <option value="true">Simple</option>
                            <option value="false">Doble</option>
                        </select>
                    </div>
                </div>




                <div class="form-group mt-30">
                    <div class="col-sm-12">
                        <button type="button" (click)="clickReserva()" class="btn btn-success btn-block">
                                <span class="glyphicon glyphicon-bed" aria-hidden="true"></span>
                                &nbsp;Reservar
                            </button>
                    </div>
                </div>


            </form>

            <!--</div>
                    </div>-->

        </div>
        <div class="col-md-7 media-middle">
            <!--<header>
                    <h2>Aquí estamos</h2>
                </header>-->
            <div class="well">
                <img class="img-responsive" src="assets/images/google-maps.png">
            </div>
        </div>

    </div>

    <!-- /END THE FEATURETTES -->

    <hr class="featurette-divider">

    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div>
<!-- /.container -->